# sbt / Scala
target/
project/target/*
project/project/*
project/.boot/*
project/.sbtboot/
project/.ivy
.bsp/
.metals/
.ammonite/
.bloop/
.history/
.idea/
.classpath
.project
.settings/
.DS_Store
.factorypath
.sbtopts
output/
.vscode/
